body {
    background-color: rgb(232, 222, 210);
    margin: 0px;
    padding: 0px;
}

.nav {
    background-color: antiquewhite;
    height: fit-content;
    padding: 2px;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    font-size: 1.5rem;
}

li {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 50px;
    background-color: rgb(255, 207, 149);
    border: 1px solid orange;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 50vw;
}

p {
    font-size: 1.5rem;
    font-style: italic;
}

.heading {
    background-color: rgb(255, 207, 149);
    width: 100vw;
    text-align: center;
    padding:20px;
}

.pic-div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}
.menu-img{
    width: 23vw;
    /* padding: 40px; */
}